@charset "utf-8";
/*
   Filename: layout1

   This file contains the layout styles used in the  sample final project base html page.

*/
/* =============================================
	Base layout styles used by mobile devices
	up to 480px and cascaded to larger devices 
	unless superceded by other styles.
   =============================================
*/

html {
	height: 100%;
	background-color: rgb(125,117,116);
}
img, object, embed, video {
	max-width: 100%;
}
header {
	margin: 10px;
	width: 96%;
}

H1.center {
	text-align: center;
}

header img {
	width: 100%;
}

nav {
	background-color: rgb(194, 231, 180);
	text-align: center;
	height: 47px;
}

.nowrap {
	display: block;
	white-space: nowrap;
}

nav ul li a {
    padding: 5px;
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    background: rgb(130, 71, 89);
    border-radius: 10px;
    color: white;
}

h1 {
	font-size: 58px;
	margin-bottom: 5px;
	margin-top: 5px;
	text-shadow:
    1px 1px 4px black,
    0 0 1em rgb(176, 115, 144),
    0 0 0.5em black;
  color: rgb(194, 231, 180);
}
	
p {
	margin-top: 10px;
	font-size: 30px;
	margin-right: 40px;
	margin-left: 40px;
}

h2 {
	text-align: center;
}
	
body {
	margin-left: auto;
	margin-right: auto;
	width: 81.9%;
	padding-left: 4.55%;
	padding-right: 4.55%;
	clear: none;
	float: none;
	min-height: 100%;
	background-color: rgb(190, 158, 173);
}

.artist {
	margin-left: 25%;
	margin-right: 65%;
	width: 50%;
	border-style: double;
	border-width: 25px;
	margin: 20px auto 0px;
}

img {
	display: block;
	width: 100%;
}

.white {
	background-color: white;
	font-family: 'Palatino Linotype', Palatino, 'Times New Roman', serif;
	font-style: italic;
	padding: 10px 0;
	text-align: center;
}

img.center {
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
}

img.size {
margin-left: 35%;
	margin-right: 25%;
	width: 100%;
}

img.position {
	margin-left: 45%;
}

figcaption.middle {
	margin-left: 50%;
}

figcaption.right {
	 margin-left: 75%;
}

figcaption.align {
	margin-left: 60%;
}

iframe{
    border-width: 0px;
}

.left {
	margin-right: 58%;
	margin-left: 5%;
	font-size: 28px;
}

.formRow {
	font-size: 23px;
	padding: 6px;
}

form#survey > fieldset {
	background-color: rgb(194, 231, 180);
	border-radius: 20px;
	flex: 1 1 300px;
	font-size: 0.85em;
	padding: 10px;
	margin: 10px;
}

.formcontact {
	font-size: 23px;
	padding: 6px;
}

.submit {
	font-size: 15px;
	font-family: Georgia, serif;
	background-color: rgb(130, 71, 89);
	color: white;
	text-align: center;
}

/* Legend Styles */
legend {
	background-color: rgb(130, 71, 89);
	color: white;
	padding: 5px;
}


footer {
	width: 96%;
	clear: left;
	text-align: center;
	font-size: 0.45em;
	margin-top: 30px;
	border-top: 2px solid rgba(50,50,26,1.00);
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	background-color: rgb(126, 126, 126);
}

aside {
   background-color: rgb(194, 231, 180);
   padding-bottom: 2em;
}

aside > h3 {
   text-align: center;
   background-color: rgb(130, 71, 89);
   color: white;
   font-style: italic;
}

.tiny {
	font-size: 16px;
}

figcaption {
	 font-style: italic;
    font-size: 0.9em;
}

footer {
	font-size: 1.9em;
	font-family: Georgia, serif;
}

/* navigation for footer */
footer a:link {
    color: rgb(194, 231, 180);
    text-decoration: none;
}

footer a:visited {
    color: rgb(85, 37, 52);
    background-color: grey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* =============================================
	Tablet layout styles used by devices
	481px to 768px and cascaded to larger 
	devices.
   =============================================
*/

@media only screen and (min-width: 481px) {
html {
	background-color: rgb(130, 71, 89);
}
body {
	width: 91.14%;
	padding-left: 0.93%;
	padding-right: 0.93%;
	clear: none;
	float: none;
	margin-left: auto;
}

nav {
	text-align: center;
}

nav div {
	float: left;
	width: 33.3%;
	background-color: rgb(194, 231, 180);
}

body {
	background-color: rgb(190, 158, 173);
}

figcaption {
	 font-style: italic;
    font-size: 0.9em;
}


footer {
	font-size: 1.9em;
	font-family: Georgia, serif;
}

}/* navigation for footer */
footer a:link {
    color: rgb(194, 231, 180);
    text-decoration: none;
}

footer a:visited {
    color: rgb(85, 37, 52);
    background-color: grey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  font-size: 2.2em;
  padding: 1em;
}


/* =============================================
	Desktop layout styles used by  devices
	769px and larger.
   =============================================
*/

@media only screen and (min-width: 769px) {
html {
	background-color: rgb(130, 71, 89);
	margin: 0px auto;
}

nav {
	background-color: rgb(194, 231, 180);
	font-family: Georgia, serif;
	text-align: center;
}


body {
	width: 88.2%;
	max-width: 800px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
	background-color: rgb(190, 158, 173);
	box-shadow: rgba(85, 37, 52, 0.9) 20px 0px 25px,  rgba(85, 37, 52, 0.9) -20px 0px 25px
}

.container {
  align-items: center; 
  float: left;
}
.image{
    float: left;
  padding: 0px;
}

.loki {
	font-size: 1.5em;
	color: rgb(194, 231, 180);
}

figcaption {
	 font-style: italic;
    font-size: 0.9em;
}

footer {
	font-size: 1.9em;
	font-family: Georgia, serif;
}

}/* navigation for footer */
footer a:link {
    color: rgb(194, 231, 180);
    text-decoration: none;
}

footer a:visited {
    color: rgb(85, 37, 52);
    background-color: grey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


/* Table Styles */
table.schedule {
	background: rgb(194, 231, 180);
	border: 10px outset rgb(130, 71, 89);
	border-collapse: collapse;
	text-align: center;
	font-size: 2em;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

/* Table Cell Styles */
table.schedule th, table.schedule td {
	border: 1px solid gray;
}

table.schedule td {
	width: 50%;
}

/*Row Group Styles */
table.schedule th {
	background: gray;
	color: white;
}
